@model ass2_BookReader.Models.Book


<h2>@Model.Title</h2>
<p><strong>Author:</strong> @Model.Author</p>
<p><strong>Category:</strong> @Model.Category</p>
<p><strong>Price:</strong> $@Model.Price</p>
<p>@Model.Description</p>